.button{
    -fx-font-size: 12;


}
.combo-box{
    -fx-font-size: 12;
}

.label{
    -fx-font-size: 12;
}
.table-view{
    -fx-font-size: 12;
}



.menuItem {
    -fx-font-family: Arial;
    -fx-font-size: 36;
    -fx-font-weight: bold;

}

.airportIndicator {
    -fx-font-size: 16;
    -fx-font-weight: 600;
}

.selectArea{
    -fx-font-size: 13;
}



.select,

.selectLabel {
    -fx-font-size: 28;
    -fx-font-weight: bold;
}
.inputs {
    -fx-font-size: 12;

}
.inputs Label {
    -fx-font-weight: 600;
    -fx-font-size: 12;
}

.inputs ComboBox,
.inputs TextField {
    -fx-font-size: 12;
}
.inputs ComboBox {
    -fx-padding: 0;
}

.inputs HBox {
    -fx-spacing: 2;
}
.headerCalc {
    -fx-font-size: 22;
    -fx-font-weight: bold;
}


.obstacleInfo {
    -fx-font-size: 14;
    -fx-vgap: 8;
    -fx-hgap: 6;
    -fx-padding: 8 0 0 20;
}

.thr {
    -fx-font-weight: bold;
}
.viewButton {
    -fx-font-size: 12;
}
.runwayToShow {
    -fx-pref-width: 150;
    -fx-font-size: 12;
}
.valuesTableLabel {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-padding: 12 0 0 0;
}

.breakdownThreshold {
    -fx-font-size: 12;
    -fx-font-weight: bold;
}
