# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\uni\Year 2\group-11-runway-re-declaration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
